<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'Listagem', meublogs_path %></li>
  <li class="active"><%= link_to 'Nova Postagem', new_meublog_path %></li>
</ul>

<h2>Nova Postagem</h2>

<%= render 'form' %>

<%= link_to meublogs_path, class: 'btn btn-info btn-xs' do %>
	<i class="glyphicon glyphicon-arrow-left"></i> Voltar
<% end %>

